body {
    background-color: rgb(199, 208, 226);
    font-family:Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color:cornflowerblue;
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;

}

#container {
    background-color: whitesmoke;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


#header {
    background-color: rgb(65, 134, 225);
    color: white;
    text-align: left;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;

}

#content {
    padding: 12px;

}

.content {
    display: flex;
    
}


#nav {
    background-color: white;
    width: 100px;
    float: left;
    line-height: 1.5em;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected {
    font-weight: bolder;
}

.nav {
    flex: 0.1;
    padding: 12px;
}

#main {
    background-color: white;
    width: 700px;
    float: right;

}

.main {
    flex: 1;
    padding: 12px;
}

#footer {
    clear: both;
    padding: 12px;
    background-color: whitesmoke;
    text-align: right;


}
